<div style="font-family: Bahnschrift,Candara,Calibri;font-size: 18px;">
    <pre>
    <b>Sayın @ViewBag.UserFullName,</b>

     Hesabınız başarıyla oluşturuldu. Hesabınızı ait ilk şifreniz aşağıda belirtilmiş. Güvenliğiniz için giriş ekranında bulunan "Şifremi unuttum" linkine tıklayarak,
     yeni bir şifre oluşturunuz.

     Kullanıcı Adınız: @ViewBag.Nickname
             Şifreniz: @ViewBag.Password
    </pre>
</div>
