<div style="font-family: Bahnschrift,Candara,Calibri;font-size: 18px;">
    <pre>
     <b>Sayın @ViewBag.UserFullName,</b>

     Bu e-posta şifre değiştirme talebiniz doğrultusunda gönderilmiştir. Aşağıdaki alana tıklayarak, yeni şifrenizi oluşturabilirsiniz.
     Eğer şifre değiştirme talebinde bulunmadıysanız, lütfen bu e-postayı dikkate almayınız. Mevcut şifrenizle sistemi kullanmaya devam edebilirsiniz.

    <a href="@ViewBag.Link">Şifrenizi resetlemek için buraya tıklayınız.</a>
    </pre>
</div>