<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a asp-controller="Admin" asp-action="Institution" class="nav-link">
                <i class="nav-icon fa fa-fw fa-university"></i>
                <p>
                    Kurum
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Admin" asp-action="Staffs" class="nav-link">
                <i class="nav-icon fa fa-fw fa-users"></i>
                <p>
                    Personeller
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Admin" asp-action="Units" class="nav-link">
                <i class="nav-icon fa fa-fw fa-sitemap"></i>
                <p>
                    Birimler
                </p>
            </a>
        </li>
    </ul>
</nav>