@{
    ViewData["Title"] = "Şifre Resetleme Talebi";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<p class="login-box-msg">Aşağıda belirtilen alana kayıtlı e-postanızı girerek şifre resetleme talebinizi iletebilirsiniz.</p>

<form asp-action="ForgetPassword" method="post">
    <div class="form-group mb-3">
        <label for="exampleInputnickname1">E-posta Adresi</label>
        <div class="row">
            <div class="col-8">
                <input required name="Nickname" id="Nickname" type="text" class="form-control" placeholder="Kullanıcı ismi">
            </div>
            <div class="col">
                @ViewBag.Domain
            </div>
        </div>
        
        <span style="color:red; font-size:12px;" class="error">@ViewBag.Error</span>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Şifre resetleme e-postası yolla</button>
        </div>
        <!-- /.col -->
    </div>
</form>

<p class="mt-3 mb-1">
    <a asp-action="Login">Giriş</a>
</p>