@model Entities.ViewModels.PasswordResetViewModel

@{
    ViewData["Title"] = "Şifre Resetleme";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<form asp-controller="Account" asp-action="PasswordReset" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-3">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" type="password" placeholder="Yeni Şifre"/>
        <span asp-validation-for="NewPassword" style="color:red; font-size:12px;" class="error"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="NewPasswordAgain" class="control-label"></label>
        <input asp-for="NewPasswordAgain" class="form-control" type="password" placeholder="Yeni Şifre Tekrar"/>
        <span asp-validation-for="NewPasswordAgain" style="color:red; font-size:12px;" class="error"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Şifre resetle" class="btn btn-primary" onclick="ChangeControl()"/>
    </div>
</form>

<p style="display:@ViewBag.BackToLoginPage" id="backToLogin" class="alert alert-success mt-3 mb-1">
    Tebrikler! Şifre resetlene işlemi başarıyla gerçekleşti. Yeni şifreniz ile giriş yapmak için <a asp-action="Login">tıklayınız.</a>
</p>
<p style="display:@ViewBag.DisplayError" id="errorMessage" class="alert alert-danger mt-3 mb-1">
    Şifreniz resetlenemedi! Daha sonra tekrar deneyiniz.
</p>