@model Entities.ViewModels.EmailViewModel
@{
    ViewData["Title"] = "E-Posta Gönder";
}
<div class="row">
    <partial name="_CorrespondenceMenuPartial" />
    <form asp-controller="Correspondence" asp-action="Email" method="post" enctype="multipart/form-data">
        <div class="col-md">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Yeni E-posta Oluştur</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group">
                        <input asp-for="To" type="email" class="form-control" placeholder="Kime:">
                    </div>
                    <div class="form-group">
                        <input asp-for="Subject" class="form-control" placeholder="Başlık:">
                    </div>
                    <div class="form-group">
                        <textarea asp-for="Textarea" class="form-control" cols="50" rows="5">
                </textarea>
                    </div>
                    <div class="form-group custom-file">
                        <input size="33554432" asp-for="Attachment" type="file" accept='.docx, .doc, .pdf, .odt' class="custom-file-input" multiple>
                        <label class="custom-file-label" for="customFile">Ekler</label>
                        <p class="help-block">Max. 32MB</p>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Gönder</button>
                    </div>
                    <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Temizle</button>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </form>
</div>

@section StyleSheet{
    <!-- summernote -->
    <link rel="stylesheet" href="~/theme/plugins/summernote/summernote-bs4.css">
}
@section Scripts{
    <script src="~/theme/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- Summernote -->
    <script src="~/theme/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Page Script -->
    <script>

            /* Limit the size of an file upload (html input)
             *https://stackoverflow.com/questions/5697605/limit-the-size-of-an-file-upload-html-input
             */

        const attachment = document.getElementById('Attachment')

        attachment.addEventListener('change', (event) => {
            const target = event.target
            if (target.files && target.files[0]) {
                const maxAllowedSize = 32 * 1024 * 1024;
                if (target.files[0].size > maxAllowedSize) {
                    target.value = ''
                }
            }
        });


        $(document).ready(function () {
            bsCustomFileInput.init();
        });
        $(function () {
            //Add text editor
            $('#Textarea').summernote()
        })
    </script>
}

