@model Entities.Concrete.Institution

<a class="brand-link navbar-primary">
    <img src="~/files/system/images/@Model.Logo"
         alt="@Model.Name"
         class="brand-image img-circle elevation-3"
         style="opacity: .8; background-color:white;">
    <span style="color:white;" class="brand-text">@Model.Name</span>
</a>